<div class="mt-4">
  <div class="col-md-3">###</div>
  <div class="row col-md-9">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <h2>{{course.name}}</h2>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{course.videoID}}?si=K6w2mTuLPP2mv1IA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <p>{{course.description}}</p>
       <p>Trình độ: {{course.level}}</p> 
    </div>
  </div>
</div>