<div class="search-form mt-10">
  <form action="" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Tim Kiem</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Nhap...."
      />
    </div>

    <div class="form-group">
      <label for="gender-input">Chon Gioi tinh</label>
      <select name="gender" id="gender-input" class="form-group">
        <option value="">-- CHon gioi tinh --</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>